#parallax.parallax
    .parallax__layer.rellax(data-rellax-speed="-5")
        img.parallax__image(src=require('../../img/bg/parallax/9.png'))
    .parallax__layer.rellax(data-rellax-speed="-4")
        img.parallax__image(src=require('../../img/bg/parallax/8.png'))
    .parallax__layer.rellax(data-rellax-speed="-3")
        img.parallax__image(src=require('../../img/bg/parallax/7.png'))
    .parallax__layer.rellax(data-rellax-speed="-2")
        img.parallax__image(src=require('../../img/bg/parallax/6.png'))
    .parallax__layer.rellax(data-rellax-speed="-1")
        img.parallax__image(src=require('../../img/bg/parallax/5.png'))
    .parallax__layer.rellax(data-rellax-speed="0")
        img.parallax__image(src=require('../../img/bg/parallax/4.png'))
    .parallax__layer.rellax(data-rellax-speed="1")
        img.parallax__image(src=require('../../img/bg/parallax/3.png'))
    .parallax__layer.rellax(data-rellax-speed="2")
        img.parallax__image(src=require('../../img/bg/parallax/2.png'))
    .parallax__layer.rellax(data-rellax-speed="3")
        img.parallax__image(src=require('../../img/bg/parallax/1.png'))
    .parallax__layer.rellax(data-rellax-speed="4")
        img.parallax__image(src=require('../../img/bg/parallax/0.png'))